---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Register" description="Register">
  <section class="min-h-screen flex flex-col items-center justify-center">
  <h1 class="text-3xl">Register</h1>
  <p>Already have an account? <a class="border-spacing-1 border-b-2 border-white hover:border-b " href="/signin">Sign in</a></p>
  <form class="flex flex-col items-center gap-4" action="/api/auth/register" method="post">
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
  </form>
</section>
</Layout>