---
import Logo from "../components/Logo.astro"

---
<header class="fixed top-0 w-full px-6 py-4 z-50">
    <div class="max-w-7xl mx-auto flex item-center justify-between gap-13">
        <a href="#">
           <Logo 
           class="absolute w-10 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
           />
        </a>
        <nav
        class="fixed w-full h-div inset-0 bg-[#753b2d]/90 text-2xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-trasnform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:text-xl md:flex-row md:translate-y-[initial] "
        >
            <a class="text__glowing" href="/register">regsiter</a>
            <a class="text__glowing" href="/login">Sign</a>
            <a class="text__glowing" href="/dashboard">Dashboar</a>
            
        </nav>
    </div>
</header>