<div class="absolute h-dvh w-full max-w-[100vw] bg-fondo-login bg-center object-cover xl:h-full">
  <section >
    
    <div class="flex flex-col justify-center items-center gap-6 absolute top-[25%] left-40 bg-[#753b2d]/90 rounded-3xl py-10 px-[3%]">
        <h2 class="text-white pb-5">Iniciar Sesion</h2>
        <form class="flex flex-col items-center gap-3" action="">
            <input class="py-1 px-2  bg-transparent border-b-2 text-white" type="text" placeholder="Usuario">
            <input class="py-1 px-2 bg-transparent border-b-2 text-white" type="password" placeholder="Contraseña">
            <button class="bg-white rounded-2xl text-[#753b2d] mt-4 py-2 px-4 hover:bg-black">Igresar</button>
        </form>
    </div>
  </section>
  
</div>
