<div>
  <section class="absolute h-dvh">
    
    <div class="flex flex-col justify-center items-center gap-6 relative top-[25%] left-40 bg-sky-300/70 rounded-3xl py-20 px-20">
        <h2 class="text-white pb-5">Iniciar Sesion</h2>
        <form class="flex flex-col items-center gap-3" action="">
            <label for="">Usuario</label>
            <input type="text">
            <label for="">Contraseña</label>
            <input type="text">
        </form>
    </div>
  </section>
  <img

   class="w-full max-h-screen object-cover object-top"
    src="./fondo.webp"
    alt="foto de tres personas meditando mirando al sol"
  />
</div>
